<h1>Find the Nearest Station!</h1>


<p>Name: <%= facade.station_name %></p>
<p>Address: <%= facade.destination %></p>
<p>Fuel Type: <%= facade.fuel_type %> </p>
<p>Access Times: <%= facade.access_times %> </p>
<p>Distance to Nearest Station: <%= facade.distance %></p>
<p>Travel Time: <%= facade.travel_time %></p>
<p>Directions: <%= facade.html_instructions.html_safe %></p>
